* {
    font-family: Roboto, sans-serif;
}

.con {
    padding: 0 20vh;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-links {
    display: flex;
    gap: 8px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.header-nav > a {
    font-size: 24px;
    padding: 12px;

    flex-shrink: 0;
}

a {
    font-size: 18px;
}